// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/bootstrap.scss";
// Then add additional custom code here

:root {
    @font-face {
        font-family: "RobotoLight";
        src: url(/src/assets/font/Roboto-Light.ttf);
    }
    @font-face {
        font-family: "RobotoRegular";
        src: url(/src/assets/font/Roboto-Regular.ttf);
    }
    @font-face {
        font-family: "RobotoBold";
        src: url(/src/assets/font/Roboto-Bold.ttf);
    }
    --bg-color: #000;
    --text-color: #fff;
    --title-color: #f39200;
    --title-font: "RobotoBold";
    --text-font: "RobotoLight";
    --undertitle-font: "RobotoRegular";
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 2.5rem;
}
h2 {
    font-family: var(--title-font);
    color: var(--undertitle-color);
    font-size: 2rem;
}
h3 {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 1.5rem;
}
p {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

body {
    background-color: var(--bg-color);
    :target {
        padding-top: 125px;
        margin-top: -125px;
    }
    header {
        .navbar {
            background-color: transparent;
        }
        .scrolled {
            background-color: #000;
            transition: background-color 0.5s ease;
        }
        div {
            img {
                width: 200px;
                height: auto;
            }
        }
        .navbar-toggler {
            border-color: var(--text-color);
        }
        .navbar-toggler:hover {
            border-color: var(--title-color);
        }
        .navbar-toggler:focus {
            box-shadow: none;
        }
        div {
            ul {
                li {
                    .nav-link {
                        color: var(--text-color);
                        font-family: var(--title-font);
                    }
                    .nav-link:hover {
                        color: var(--title-color);
                    }
                }
            }
        }
    }
    main {
        .video-section {
            height: 103vh;
            .video-title {
                margin-top: 40vh;
                h1 {
                    font-size: 3rem;
                }
                p {
                    font-size: 1.5rem;
                }
                .bi-play-circle {
                    color: var(--title-color);
                    font-size: 3rem;
                }
                .bi-play-circle:hover {
                    font-size: 3.5rem;
                    transition: 0.3s ease-in-out;
                }
            }
            .video-container {
                width: 0%;
                height: 100vh; /* Set height to match viewport height */
                overflow: hidden;
                z-index: -1;
                video {
                    background-color: rgba(255, 192, 203, 0.329);
                    min-width: 100%;
                    min-height: 100%;
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                }
            }
        }
        .about-row {
            margin-bottom: 5em;
            img {
                box-shadow:
                    20px -20px 0 -5px black,
                    20px -20px 0 0 #ffed00;
            }
        }
        .rahmenprogramm-row {
            margin-bottom: 5em;
            a {
                text-decoration: none;
                color: var(--text-color);
                font-family: var(--undertitle-font);
            }
            a:hover {
                color: var(--title-color);
            }
            .rahmenprogramm-titletext {
                margin-top: 1em;
                margin-bottom: 2em;
            }
        }
        .tagesablauf-border {
            border-bottom: 2px solid var(--text-color);
            margin-bottom: 2.5em;
            .icon-container {
                margin-right: 0.5em;
                transition: transform 0.25s ease;
                .bi-caret-down-fill {
                    cursor: pointer;
                    color: var(--text-color);
                    font-size: 2rem;
                }
            }
            .rotated {
                transform: rotate(-90deg);
            }
        }
        .tagesablauf-content {
            display: none;
            p{
                strong{
                    font-family: var(--title-font);
                }
            }
            .samstag-img {
                box-shadow:
                    -20px 20px 0 -5px black,
                    -20px 20px 0 0 #e6007e;
            }
            .sonntag-img {
                box-shadow:
                    -20px 20px 0 -5px black,
                    -20px 20px 0 0 #41c0f0;
            }
            button {
                background-color: var(--title-color);
                color: var(--text-color);
                font-family: var(--title-font);
                cursor: pointer;
                margin-bottom: 0.5em;
            }
            button:hover {
                background-color: var(--text-color);
                color: var(--title-color);
            }
        }
        .location-row {
            margin-top: 5em;
            margin-bottom: 5em;
            iframe {
                box-shadow:
                    20px 20px 0 -5px black,
                    20px 20px 0 0 #95c11f;
            }
            .location-container {
                display: flex;
                flex-direction: column;
                align-items: left;
                justify-content: center;
            }
        }
        .sponsoren-row {
            margin-bottom: 5em;
            img{
                width: 65%;
            }
        }
    }
    footer {
        background-color: var(--title-color);
        .impressum-container{
            ul{
                margin-top: 1em;
            }
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            li {
                p {
                    color: var(--text-color);
                    font-family: var(--title-font);
                }
                a {
                    text-decoration: none;
                    color: var(--text-color);
                    font-family: var(--title-font);
                }
                a:hover {
                    color: var(--bg-color);
                }
                .nav-link {
                    color: var(--text-color);
                    font-family: var(--title-font);
                }
            }
        }
        .bi-instagram{
            color: var(--text-color);
            font-size: 2rem;
            cursor: pointer;
            margin-right: .5em;
        }
        .bi-instagram:hover{
            color: var(--bg-color);
        }
        .bi-arrow-up-square {
            color: var(--text-color);
            font-size: 2rem;
            cursor: pointer;
        }
        .bi-arrow-up-square:hover {
            color: var(--bg-color);
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        main {
            .about-row {
                img {
                    box-shadow: none;
                }
            }
            .tagesablauf-border {
                .icon-container {
                    display: flex;
                    align-items: center;
                }
            }
            .tagesablauf-content {
                .samstag-container {
                    padding-right: 0;
                }
                .samstag-img {
                    box-shadow: none;
                }
                .sonntag-img {
                    box-shadow: none;
                }
            }
            .location-row {
                margin-top: 5em;
                margin-bottom: 5em;
                .div-iframe {
                    margin-bottom: 1em;
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    padding-top: 75%;
                    .responsive-iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    body {
        main {
            .about-row {
                img {
                    box-shadow: none;
                }
            }
            .tagesablauf-content {
                .samstag-img {
                    box-shadow: none;
                }
                .sonntag-img {
                    box-shadow: none;
                }
            }
            .location-row {
                margin-top: 5em;
                margin-bottom: 5em;
                .div-iframe {
                    margin-bottom: 1em;
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    padding-top: 75%;
                    .responsive-iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
